body {
  /* [START] Prevent scrolling on body */
  overflow: hidden;
  /* [END] Prevent scrolling on body */
}

/* [START] Create a column that fills the page vertically */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-no-shrink {
  flex-shrink: 1 0 auto;
}

.flex-grow {
  flex: 1;
}
/* [END] Create a column that fills the page vertically */

/* [START] Remove borders from inputs and text areas */
textarea,
input {
  outline: none;
  border: none;
}
/* [END] Remove borders from inputs and text areas */

.marquee-container {
  min-width: 20em;
  position: relative;
  overflow: hidden;
}

.marquee {
  position: absolute;
  width: 20em;
  height: 100%;
  margin: 0;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
