body {
  /* [START] Prevent scrolling on body */
  overflow: hidden;
  /* [END] Prevent scrolling on body */
}

/* [START] Create a column that fills the page vertically */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-no-shrink {
  flex-shrink: 1 0 auto;
}

.flex-grow {
  flex: 1;
}
/* [END] Create a column that fills the page vertically */

/* [START] Remove borders from inputs and text areas */
textarea,
input {
  outline: none;
  border: none;
}
/* [END] Remove borders from inputs and text areas */
