div.post pre,
div.post code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

div.post pre {
  padding: 0.5rem;
  overflow-x: scroll;
}

div.post a,
div.post a:visited {
  color: #111c77;
}

div.post a:hover,
div.post a:focus,
div.post a:active {
  color: #ff9e37;
}

div.post {
  text-decoration: none;
}

div.post html {
  font-size: 12px;
}

div.post p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  line-height: 2
}

div.post h1 {
  font-size: 2rem;
}

div.post h2 {
  font-size: 1.5rem;
}

div.post h3 {
  font-size: 1.25rem;
}

div.post h4 {
  font-size: 1rem;
}

div.post h5 {
  font-size: 0.9rem;
}

div.post h6 {
  font-size: 0.8rem;
}

div.post small {
  font-size: 0.7rem;
}

/* https://github.com/mrmrs/fluidity */

div.post img,
div.post canvas,
div.post iframe,
div.post video,
div.post svg,
div.post select,
div.post textarea {
  max-width: 100%;
}

div.post html {
  font-size: 18px;
  max-width: 100%;
}

div.post body {
  color: #777777;
}

div.post h1,
div.post h2,
div.post h3,
div.post h4,
div.post h5,
div.post h1,
div.post h2,
div.post h3 {
  border-top: 0.1rem solid #ff9e37;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 400;
  color: #333333;
}

div.post blockquote {
  border-left: 0.1rem solid #ff9e37;
  padding: 0.5rem;
}

div.post pre,
div.post code {
  background-color: #fafafa;
}
