/* Blog Post Styles for markdown */

.blog h1, .blog h2, .blog h3 {
  font-weight: 300;
}

.blog p code {
  padding: 0 5px;
  background-color:#76C4E2;
  color: #111;
}

.blog blockquote {
  margin: 0;
  padding: 0 0 0 1rem;
  border-left: 3px solid #001b44;
  font-style: italic;
  color: #777777;
}